.header__logo {
  max-width: 142px;
  margin: 0;
  padding: 0;
  margin-bottom: 41px;
  transition: opacity 0.2s ease-out;
}

.header__logo:hover {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 103.74px;
    margin-bottom: 0;    
 }
}
