.profile__info {
  display: flex;
  justify-content: center;
  max-width: 486px;
  position: relative;  
}

@media screen and (max-width: 900px) {
  .profile__info {
    max-width: 100%;
    flex-direction: column;
  }
}