.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  padding: 0 0 38px 0;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .popup__title {
    font-size: 22px;    
  }
}

@media screen and (max-width: 767px) {
  .popup__title {
    font-size: 20px;    
  }
}
