.enter__submit-btn {
  width: 100%;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  background-color: #fff;
  color: #000000;
  padding: 0;  
  margin: 186px auto 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.enter__submit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .enter__submit-btn {
    margin-top: 173px;
    height: 46px;
    font-size: 16px;
  }
}