.popup {
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;  
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}
