.popup__field {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  justify-content: center;
  border: none;
  padding: 0 0 12px;
  margin: 0;
  width: 100%;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
